@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.hero {
  $root: &;

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    min-height: 418px;
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__content {
    z-index: 1;
    display: flex;
    align-items: center;
  }

  p {
    margin-bottom: 32px;
    letter-spacing: 0.3px;
  }

  .btn {
    padding: 15px 32px;
    letter-spacing: 0.4px;
  }

  .hidden {
    display: none;
  }

  &--home {
    #{$root}__inner {
      margin: 57px 0 27px;
    }

    #{$root}__images {
      display: flex;

      img {
        &:not(:last-child) {
          margin-right: 16px;
        }
      }
    }

    #{$root}__content {
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  @include media(tablet-wide) {
    h1 {
      font-size: clamp(2.5rem, 2.2451rem + 1.0458vi, 3.5rem);
    }
  }

  @include media(tablet) {
    padding: 0;

    &__inner {
      min-height: 526px;
    }

    &__content {
      padding: 40px 30px;
    }
  }

  @include media(mobile-l) {
    &__inner {
      min-height: 500px;
    }

    h1 {
      margin-bottom: 20px;
      font-size: 36px;
    }

    p {
      margin-bottom: 20px;
    }

    &__content {
      padding: 20px 30px;
      max-width: 94%;
    }
  }
}